{% extends "healthpoint/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<title>Healthpoint</title>
	
		<div class="row justify-content-center mt-3">
        <div class="col-md-3 col-sm-12 border-bottom">
            <h5>Update Your Post!</h5>
        </div>
    </div>
    <div class="mb-5">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Update Post</button>
			</div>
		</form>
	</div>
{% endblock content %}