{% extends "healthpoint/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
	<title>Healthpoint</title>
		<article class="media content-section">
			<img class='rounded-circle article-img' src="{{ post.author.profile.profile_pic.url }}">
			<div class="media-body">
			    <div class="article-metadata">
			      <a class="mr-2" href="{% url 'user_profile' post.author.profile.pk %}">
			      	{% if post.author.is_doctor %}
			      		Dr. {{ post.author }}<small class="text-muted"> - {{ post.author.doctor.specialization }} -</small>
			      	{% else %}
			      		{{ post.author }}
			      	{% endif %}
			  		</a>
			      <small class="text-muted">{{ post.date_posted|date:"Y/m/d" }}</small>
			      <small class="text-muted">
			      	 {% if request.user == post.author %}
			      	<a class="edit-color" href="{% url 'post-edit' post.pk %}"><i class="far fa-edit"></i></a>
			      	<a href="{% url 'post-delete' post.pk %}" class="delete-color"><i class="fas fa-trash"></i></a>
			      {% endif %}
			      </small>
			    </div>
			    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
			    <p class="article-content">{{ post.content }}</p>

<!--...................................Like and Dislike Buttons................................................-->
			    <div class="d-flex flex-row">
			    	<form method="POST" action="{% url 'like' post.pk %}">
			    		{% csrf_token %}
			    		<input type="hidden" name="next" value="{{ request.path }}">

			    		{% if request.user not in post.likes.all %}
			    		<button class="remove-default-btn" type="submit">
			    			<i class="far fa-thumbs-up"><span>{{ post.likes.all.count }}</span></i>
			    		</button>
			    		{% else %}
						<button class="remove-default-btn" type="submit">
			    			<i class="far fa-thumbs-up"><span>{{ post.likes.all.count }}</span></i>
			    		</button>
			    		{% endif %}
			    	</form>

			    	<form method="POST" action="{% url 'dislike' post.pk %}">
			    		{% csrf_token %}
			    		<input type="hidden" name="next" value="{{ request.path }}">

			    		{% if request.user in post.dislikes.all %}
			    		<button class="remove-default-btn" type="submit">
			    			<i class="fas fa-thumbs-down"><span>{{ post.dislikes.all.count }}</span></i>
			    		</button>
			    		{% else %}
			    		<button class="remove-default-btn" type="submit">
			    			<i class="far fa-thumbs-down"><span>{{ post.dislikes.all.count }}</span></i>
			    		</button>
			    		{% endif %}
			    	</form>
			    </div>
<!--...................................Like and Dislike Buttons End................................................-->


	<div class="mt-4">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Add Comment</button>
			</div>
		</form>
	</div>
	<div>
		{% for comment in comments %}
		{% if comment.is_parent %}
    <div class="row justify-content-left mt-3 mb-1 border-bottom">
        <div class="col-md-6 col-sm-12">
            <p>
        	<img class='rounded-circle article-img' src="{{ comment.author.profile.profile_pic.url }}">
                <a class="mr-2" href="{% url 'user_profile' comment.author.pk %}">{{ comment.author }}</a> 
                <small class="text-muted">{{ comment.date_commented|date:"Y/m/d" }}</small>
               <small class="text-muted">
               	{% if request.user == comment.author %}
			      	<a href="{% url 'comment-edit' post.pk comment.pk %}" class="edit-color"><i class="far fa-edit"></i></a>
			      	<a href="{% url 'comment-delete' post.pk comment.pk %}" class="delete-color"><i class="fas fa-trash"></i></a>
			      {% endif %}
			  </small>
            </p>
            <p>{{ comment.content }}</p>
        </div>
	</div>


<!--...................................CommentLikeDislikeReply...........................................-->
    
    <div class="border-bottom">
    	<div class="d-flex flex-row">

    	<!--...................................CommentLikeandDislikeButtons...........................................-->
        
			    	<form method="POST" action="{% url 'comment-like' post.pk comment.pk %}">
			    		{% csrf_token %}
			    		<input type="hidden" name="next" value="{{ request.path }}">

			    		{% if request.user in comment.likes.all %}
			    		<button class="remove-default-btn" type="submit">
			    			<i class="fas fa-thumbs-up"><span>{{ comment.likes.all.count }}</span></i>
			    		</button>
			    		{% else %}
						<button class="remove-default-btn" type="submit">
			    			<i class="far fa-thumbs-up"><span>{{ comment.likes.all.count }}</span></i>
			    		</button>
			    		{% endif %}
			    	</form>

			    	<form method="POST" action="{% url 'comment-dislike' post.pk comment.pk %}">
			    		{% csrf_token %}
			    		<input type="hidden" name="next" value="{{ request.path }}">

			    		{% if request.user in comment.dislikes.all %}
			    		<button class="remove-default-btn" type="submit">
			    			<i class="fas fa-thumbs-down"><span>{{ comment.dislikes.all.count }}</span></i>
			    		</button>
			    		{% else %}
			    		<button class="remove-default-btn" type="submit">
			    			<i class="far fa-thumbs-down"><span>{{ comment.dislikes.all.count }}</span></i>
			    		</button>
			    		{% endif %}
			    	</form>
<!--...................................Comment Like and Dislike Buttons................................................-->
    		<button class="remove-default-btn"><i class="far fa-comment-dots" onclick="commentReplyToggle('{{ comment.pk }}')"></i></button>

    	</div>
<!--...................................CommentLikeDislikeReplyEnd...........................................-->
    

    </div>

    <div class="row mt-4 mb-5 d-none" id="{{ comment.pk }}">
    	<div class="col-md-12 col-sm-12">
		<form method="POST" action="{% url 'comment-reply' post.pk comment.pk %}">
			{% csrf_token %}
			<fieldset class="form-group">
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Reply</button>
			</div>
		</form>
	</div>
	</div>

	{% for child_comment in comment.children %}
	<div class="row mt-3 mb-1 border-bottom" style="margin-left: 2rem;">
		<div class="col-md-6 col-sm-12 border-bottom">
			<div class="row justify-content-left mt-3 mb-1 border-bottom">
        <div class="col-md-6 col-sm-12">
            <p>
        	<img class='rounded-circle article-img' src="{{ child_comment.author.profile.profile_pic.url }}">
                <a class="mr-2" href="{% url 'user_profile' child_comment.author.pk %}">{{ child_comment.author }}</a> 
                <small class="text-muted">{{ child_comment.date_commented|date:"Y/m/d" }}</small>
               <small class="text-muted">
               	{% if request.user == child_comment.author %}
			      	<a href="{% url 'comment-edit' post.pk child_comment.pk %}" class="edit-color"><i class="far fa-edit"></i></a>
			      	<a href="{% url 'comment-delete' post.pk child_comment.pk %}" class="delete-color"><i class="fas fa-trash"></i></a>
			      {% endif %}
			  </small>
            </p>
            <p>{{ child_comment.content }}</p>
        </div>
	</div>
		</div>
		<!--...................................CommentLikeandDislikeButtons...........................................-->
        
			    	<form method="POST" action="{% url 'comment-like' post.pk child_comment.pk %}">
			    		{% csrf_token %}
			    		<input type="hidden" name="next" value="{{ request.path }}">

			    		{% if request.user in child_comment.likes.all %}
			    		<button class="remove-default-btn" type="submit">
			    			<i class="fas fa-thumbs-up"><span>{{ child_comment.likes.all.count }}</span></i>
			    		</button>
			    		{% else %}
						<button class="remove-default-btn" type="submit">
			    			<i class="far fa-thumbs-up"><span>{{ child_comment.likes.all.count }}</span></i>
			    		</button>
			    		{% endif %}
			    	</form>

			    	<form method="POST" action="{% url 'comment-dislike' post.pk child_comment.pk %}">
			    		{% csrf_token %}
			    		<input type="hidden" name="next" value="{{ request.path }}">

			    		{% if request.user in child_comment.dislikes.all %}
			    		<button class="remove-default-btn" type="submit">
			    			<i class="fas fa-thumbs-down"><span>{{ child_comment.dislikes.all.count }}</span></i>
			    		</button>
			    		{% else %}
			    		<button class="remove-default-btn" type="submit">
			    			<i class="far fa-thumbs-down"><span>{{ child_comment.dislikes.all.count }}</span></i>
			    		</button>
			    		{% endif %}
			    	</form>
<!--...................................Comment Like and Dislike Buttons................................................-->
	</div>



	{% endfor %}


	{% endif %}
    {% endfor %}
	</div>
		  </div>
		</article>


<script type="text/javascript" src="{% static 'js/healthpoint.js' %}"></script>
{% endblock content %}