{% extends "healthpoint/base.html" %}

{% block content %}
{% for following in followings %}
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom position-relative">
            <img class='rounded-circle article-img' src="{{ profile.profile_pic.url }}">
                <p><a class="mr-2" href="{% url 'user_profile' following.profile.pk %}">{{ following.user_name }}</a></p>
                {% if following.full_name %}
                    <p>{{ following.full_name }}</p>
                {% endif %}
                {% if following.address %}
                    <p>{{ following.address }}</p>
                {% endif %}
                <p>Followers: {{ following.followings.all.count }}</p>
            </div>
        </div>
{% endfor %}
{% endblock %}