{% extends "healthpoint/base.html" %}
{% block content %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header text-black">
              <h2>Registration</h2>
            </div>
            <div class="card-body">
                <div class="cloumn">
                   <div class="col-lg-5">
                    <a type="button" class="ml-2 btn btn-primary" href="{% url 'user_register' %}">Register as a user</a>
                   </div>
                   <div class="col-lg-5">
                    <a type="button" class="ml-2 btn btn-primary" href="{% url 'doctor_register' %}">Register as a doctor</a>
                   </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}