{% extends "healthpoint/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="card col-md-12 mt-5 p-3 shadow-sm">
			{% if thread.receiver == request.user %}
				<h5>@{{ thread.user }}</h5>
			{% else %}
				<h5>@{{ thread.receiver }}</h5>
			{% endif %}
		</div>
	</div>

	{% if message_list.all.count == 0 %}
	<div class="row my-5">
		<div class="col-md-12">
			<p style="color: #777; font-size: 1.5rem; text-align: center;">No Messages</p>
		</div>
	</div>
	{% endif %}

	{% for message in message_list %}
	<div class="row">
		{% if message.sender_user == request.user %}
		<div class="col-md-12 my-1">
			
			{% if message.image %}
			<div><img src="{{ message.image.url }}" style="border-radius: 10px; max-width: 35%; height: auto;" ></div>
			{% endif %}
			<div class="my-3" style="background-color: #f3f3f3; border-radius: 30px; padding: 10px 25px; width: 35%;">
				<p>{{ message.body }}</p>
			</div>
		</div>

			{% elif message.receiver_user == request.user %}
			<div class="col-md-12 offset-6">
				{% if message.image %}
				<div class="ms-auto" style="margin-left: auto; margin-right: 0;"><img src="{{ message.image.url }}" style="border-radius: 10px; max-width: 35%; height: auto;"></div>
				{% endif %}
				<div class="my-3 ms-auto" style="background-color: rgb(1, 196, 255); color: #fff; border-radius: 30px; padding: 10px 25px; width: 35%;">
					<p>{{ message.body }}</p>
				</div>
			{% endif %}
		</div>
	</div>
	{% endfor %}

	<div class="row">
		<div class="card col-md-12 p-3 shadow-sm">
			<form method="POST" action="{% url 'create-message' thread.pk %}" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form | crispy }}

				<div class="d-grid gap-2 mt-3">
					<button class="btn btn-light" type="submit">Send Message</button>
				</div>
			</form>
		</div>
	</div>
</div>


{% endblock content %}